
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


body{
  align-items: center;
  text-align: center;
  background-color: #e2f1f2;
}
/* a{
  text-decoration: none;
  color: black;
}
a:hover{
  color: #f26722;
  height: 21px;
  font-weight: bold; */
/* } */
.Logo{
  background-color: #e2f1f2;
  text-decoration: none;
  color: #e2f1f2;
  border: 3px solid #034956;
  background-color: #034956;

}


/* Style the button that will be used to open the dropdown menu */
.dropbtn {
  background-color: #034956;
  color: #f6faf7;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Style the dropdown content */
.dropdown-content {
  display: none;
 
  z-index: 1;
}

/* Show the dropdown content when the button is clicked */
.dropdown:hover .dropdown-content {
  display:block;
 align-items: center;
  animation-name: dropdown;
  animation-duration: 1s;
}

/* Define the animation */
@keyframes dropdown {
  from { opacity: 0; }
  to { opacity: 1; }
}
.dropdownlinksdiv{
  margin-top: 10px;
  width: 100;
  border: 3px solid #034956;
  background-color: #034956;
}



.dropdownlinks{
  text-decoration: none;
  color: #e2f1f2;
 
 
  
  
}




