/* 
  Style the dropdown content */

.popup-window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.popup-content {
  background-color: black;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  color: #101010;
}

html,
body {
  --custom-font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --custom-bg-color: white;
  --custom-panel-color: #222;
  --custom-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.8);

  --custom-color-brand: #24b47e;
  --custom-color-secondary: #666;
  --custom-border: 1px solid #333;
  --custom-border-radius: 5px;
  --custom-spacing: 5px;

  padding: 0;
  margin: 0;
  font-family: var(--custom-font-family);
  background-color: var(--custom-bg-color);
}

* {
  color: var(--custom-color);
  font-family: var(--custom-font-family);
  box-sizing: border-box;
}

html,
body,
#__next {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

/* Button */

/* button,
.button {
  color: var(--custom-color);
  border: var(--custom-border);
  background-color: var(--custom-bg-color);
  display: inline-block;
  text-align: center;
  border-radius: var(--custom-border-radius);
  padding: 0.5rem 1rem;
  cursor: pointer;
  text-align: center;
  font-size: 0.9rem;
  text-transform: uppercase;
} */

button.primary,
.button.primary {
  background-color: var(--custom-color-brand);
  border: 1px solid var(--custom-color-brand);
}

/* Widgets */
.form-widget {
  align-items: center;
  margin-left: 30%;
  margin-right: 30%;
  width: 40%;
}

.card {
  width: 100%;
  display: block;
  border: var(--custom-border);
  border-radius: var(--custom-border-radius);
  padding: var(--custom-spacing);
}

.avatar {
  border-radius: var(--custom-border-radius);
  overflow: hidden;
  max-width: 100%;
}
.avatar.image {
  object-fit: cover;
}
.avatar.no-image {
  background-color: #333;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 5px;
}
.avatar-div {
  align-items: center;
  text-align: center;
}

.avatarPlaceholder {
  border: var(--custom-border);
  border-radius: var(--custom-border-radius);
  width: 35px;
  height: 35px;
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Auth */

.auth-widget {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.auth-widget > .button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #444444;
  text-transform: none !important;
  transition: all 0.2s ease;
}

.auth-widget .button:hover {
  background-color: #2a2a2a;
}

.auth-widget .button > .loader,
.account .button > .loader {
  width: 17px;
  animation: spin 1s linear infinite;
  filter: invert(1);
}

/* Account */

.account {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.account > * > .avatarField {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.account > * > .avatarField > .avatarContainer {
  margin-right: 20px;
}

/* Profile Card */

.profileCard {
  border-radius: 5px;
  display: flex;
  border: var(--custom-border);
  background-color: var(--custom-panel-color);
  padding: 20px 20px;
  margin-bottom: 20px;
}

.profileCard:last-child {
  margin-bottom: 0px;
}

.profileCard > .userInfo {
  margin-left: 20px;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profileCard > .userInfo > p {
  margin: 0;
}

.profileCard > .userInfo > .username {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 5px;
}

.profileCard > .userInfo > .website {
  font-size: 0.9rem;
  color: var(--custom-color-brand);
  margin-bottom: 10px;
  text-decoration: none;
}

/* for smaller screens  */
@media only screen and (max-width: 500px) {
  /* INDEX PAGE */
  body {
    top: 0;
    align-items: center;
    text-align: center;
  }
  .Logo {
    font-size: 50px;
    text-decoration: none;
    color: #034956;
    font-weight: bold;
  }
  .notifications {
    display: none;
  }

  /* CALENDAR PAGE */

  .homepageimg {
    background-image: url("https://images.pexels.com/photos/1242348/pexels-photo-1242348.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    height: 100%;
    top: 0;
    background-repeat: no-repeat;
  }

  .calendar {
    width: 100vw;
    flex-wrap: wrap;
    font-size: 12px;
  }

  .calendar-header {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
  }

  .calendar-grid {
    width: 100vw;
  }

  button {
    font-size: 12px;
  }
  .cellbody {
    flex-wrap: wrap;
  }
  tr {
    flex-wrap: wrap;
  }

  /* POP UP WINDOW  */
  .popup-window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }

  .popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    color: #101010;
    z-index: 2;
  }
  .popup-close {
    background-color: rgb(200, 88, 88);
    color: black;
  }
  .popup-close:hover {
    color: #e2f1f2;
    background-color: red;
  }

  .expensearea {
    margin-top: 25px;
  }

  /* EXPENSETRACKER */

  /* GRAPH */
  .Graph {
    width: 100vw;
  }

  /* VIDEO */

  .videos {
    width: 100%;
    margin-top: 0px;
    border: 1px solid lightgray;
    padding: 10px;
  }
  .video-input {
    border: 1px solid lightslategray;
    margin-left: 15%;
    margin-right: 15%;
    color: #034956;
    font-style: italic;
    font-size: 20px;
  }
  .insert-video-div {
    max-height: 80px;
    background-color: antiquewhite;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }

  /* FOOTER */
  .footer {
    position: fixed;
    bottom: 0;
    background-color: black;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    height: 60px;
    align-items: center;
  }

  .dropdown-content {
    display: none;

    z-index: 1;
  }

  /* Show the dropdown content when the button is clicked */
  .dropdown:hover .dropdown-content {
    display: block;
    align-items: center;
    animation-name: dropdown;
    animation-duration: 1s;
  }

  /* Define the animation */
  @keyframes dropdown {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .dropdownlinksdiv {
    margin-top: 10px;
    width: 100%;
    border: 3px solid #034956;
    background-color: #034956;
  }

  .dropdownlinks {
    text-decoration: none;
    color: #e2f1f2;
  }
}

@media only screen and (min-width: 501px) {
  body {
    top: 0;
    align-items: center;
    text-align: center;
  }
  .dropdown {
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
  }

  .Logo {
    font-size: 50px;
    text-decoration: none;
    color: #034956;
    font-weight: bold;
  }
  .notifications {
    display: none;
  }
  .homepageimg {
    background-image: url("https://images.pexels.com/photos/1242348/pexels-photo-1242348.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    height: 100%;
    top: 0;
    background-repeat: no-repeat;
  }

  .calendar {
    width: 40%;
    flex-wrap: wrap;
    font-size: 12px;
    align-items: center;
    text-align: center;
    margin-right: 30%;
    margin-left: 30%;
  }

  .calendar-header {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
  }
  .calendar-grid {
    width: 100%;
  }
  .calendar-grid th,
  .calendar-grid td {
    padding: 15px;
    text-align: center;
  }

  .calendar-grid th {
    border-bottom: 2px solid black;
    font-weight: bold;
  }

  .calendar-grid td {
    border: 1px solid #ddd;
  }

  button {
    font-size: 12px;
  }
  .cellbody {
    flex-wrap: wrap;
  }
  tr {
    flex-wrap: wrap;
  }

  .popup-window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }

  .popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    color: #101010;
    z-index: 2;
  }

  .popup-close {
    background-color: rgb(200, 88, 88);
    color: black;
  }
  .popup-close:hover {
    color: #e2f1f2;
    background-color: red;
  }

  .expensearea {
    margin-top: 25px;
  }

  .Graph {
    width: 100%;
  }
  .footer {
    display: none;
  }

  /* Videos  */
  .videos {
    width: 100%;
    margin-top: 25px;
    border: 1px solid lightgray;
    padding: 10px;
    padding-bottom: 40px;
  }
  .video-input {
    border: 1px solid lightslategray;
    margin-left: 30%;
    margin-right: 30%;
  }
  .insert-video-div {
    max-height: 80px;
    background-color: antiquewhite;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
  }
  .container {
    margin-left: 38%;
    margin-right: 38%;
    width: 20%;
    padding-top: 90px;
  }

  /* Weather */
}

@media only screen and (min-width: 751) {
}

@media only screen and (min-width: 1000) {
}
